@model Account

<section class="card w-100 mt-4">
	<div class="card-body">
		<h4 class="card-title mb-5 mt-2">ورود مشخصات حساب کاربری</h4>
		<form method="post" asp-controller="Home" asp-action="AddAccount">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="mt-2">
				<label asp-for="UserName" for="fname"></label>
				<input asp-for="UserName" id="fname" class="form-control" />
				<span asp-validation-for="UserName"></span>
			</div>
			<div class="mt-2">
				<label asp-for="Password" for="fname"></label>
				<input asp-for="Password" id="fname" class="form-control" />
				<span asp-validation-for="Password"></span>
			</div>
			<div class="button-line double-btn-line">
				<a class="btn btn-warning" asp-action="AddEducate">رفتن به مرحله قبلی</a>
				<button class="btn btn-info" type="submit">ذخیره نهایی</button> 
			</div>
		</form>
	</div>
</section>