@model Person
@{

}
<section class="card w-100 mt-4">
	<div class="card-body">
		<h4 class="card-title mb-5 mt-2">ثبت نام چند مرحله ای</h4>
		<a asp-action="Addperson" class="btn btn-info">شروع ثبت نام</a>
	</div>
</section>